body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}


#title{
    background-color: #ff4c68;
    
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15%;
}
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
    
}
.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 25%;
    transform:rotate(25deg);
    position: absolute;
    right: 20%;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index:1;
}

.feature-box{
    text-align: center;
    padding-right: 1.5rem;
}
.feature-box h3{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 1.0rem;
}
.feature-box p{
    color: #8f8f8f;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size: 1rem;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color:#fff;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 12px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.card-header h3{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    color: black;
    
}
.btn-z{
  width: 80%;
  margin-left: 0px;
  margin-bottom: 10px;
}
.pricing-column{
    padding: 3% 2%;
}
@media (max-width:1028px)
{
.title-image{
    position: static;
    transform: rotate(0deg);
}
#title{
    text-align: center;
}
}
#cta{
    background-color: #ff4c68;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    color: #fff;
    text-align: center;
    padding-top:1.5rem ;
}
.xyz-button{
text-align: center;
padding-top: 2rem;
padding-bottom: 2rem;
}
.xyz{
    margin-right: 20px;
}
#footer i{

align-items: center;
}
p{
    color: #8f8f8f;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size: 0.8rem;
    text-align: center;
}
.foot{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
}
.foot .fafoot{
margin:20px;}
